/* font-family: 'Roboto', sans-serif; */
/* farbe (background/border): #eee, #ccc 
farbe text: #659d89, #333, #666, #000 */

body
{
    margin: 0;
    background-color: #eee;
}
body> nav> a 
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #659d89;
    margin-top: 20px;;
    padding-right: 5px;
    margin-left: 5vh;
    
}
h1
{
    color: #659d89;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 10vh;
    margin-left: 5vh;
}
body>main>p
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-left: 5vh;
}
body>main>ul{
    list-style: none;
    text-align: right;
}
img 
{
    height: 25px;
}
body>main a:nth-of-type(1)
{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    font-size: 18px;
    color:#000;
}
body>main a:nth-of-type(1)::before
{
    content: "\2193";
    padding-right: 10px;
}
main
{
    border-bottom: 2px solid #ccc;
}
main a
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
    margin-top: 20px;;
    padding-right: 5px;
    margin-left: 5vh;
    
}

h2
{
    font-family: 'Roboto', sans-serif;
    margin-left: 5vh;
    margin-top: 5vh;
    text-align: left;
}

section>p:nth-of-type(1)
{
    margin-left: 5vh;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    
}
section
{
    border-bottom: 2px solid #ccc;
    text-align: center;
    margin-bottom: 0px;
}
section>article:nth-of-type(1)
{
    width: 50vw;
    height: 35vh;
    
    padding-bottom: 0;
    display: inline-flex;
    
}
section>article:nth-of-type(2)
{
    width: 50vw;
    height: 35vh;
    display: inline-flex;
    padding-bottom: 0;
    
}
section>article>div:nth-of-type(1)
{
   background-image: url(https://assets.website-files.com/5cfbc938982a74a06bedeb1a/5d0f54fc4c92b43c0c1fa1c0_01_Stress.gif);
   background-position: center;
   background-size: cover; 
   height: 26vh;
   width: 20vw;
   margin: 20px;
}
section>article>div:nth-of-type(2)
{
    background-image: url(https://assets.website-files.com/5cfbc938982a74a06bedeb1a/5d0f49670d9cddf1bb64857b_02_Sleep.gif);
    background-position: center;
    background-size: cover; 
    height: 26vh;
    width: 20vw;
    margin: 20px;
 }
 section>article>div:nth-of-type(3)
 {
    background-image: url(https://assets.website-files.com/5cfbc938982a74a06bedeb1a/5d0e3620d79ccafd5e95aa08_03_Focus.gif);
    background-position: center;
    background-size: cover; 
    height: 26vh;
    width: 20vw;
    margin: 20px;
 }
 section>article:nth-of-type(2)>div:nth-of-type(1)
 {
    background-image: url(https://assets.website-files.com/5cfbc938982a74a06bedeb1a/5d0ea416ac109e24f7c0b7ba_04_Anxiety.gif);
    background-position: center;
    background-size: cover; 
    height: 26vh;
    width: 20vw;
    margin: 20px;
 }
 section>article:nth-of-type(2)>div:nth-of-type(2)
 {
    background-image: url(https://assets.website-files.com/5cfbc938982a74a06bedeb1a/5d0f53d863d73b1d509d86ae_05_Confidence_1.gif);
    background-position: center;
    background-size: cover; 
    height: 26vh;
    width: 20vw;
    margin: 20px;
 }
 section>article:nth-of-type(2)>div:nth-of-type(3)
 {
    background-image: url(https://assets.website-files.com/5cfbc938982a74a06bedeb1a/5d0f66bde9f177cf26efd62f_06_Motivation.gif);
    background-position: center;
    background-size: cover; 
    height: 26vh;
    width: 20vw;
    margin: 20px;
 }
 section>article>div:hover
 {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
 }
/* -––––––––––––––-– */

footer>section
{
    border-bottom: 2px solid #eee;
}
footer>section:nth-of-type(1) div:nth-of-type(1)
{
   text-align: center;
   margin-right: 600px;
   margin-top: 20px;
   
}
footer>section:nth-of-type(1) img:nth-of-type(1)
{
    width: 500px;
    height: 250px;
   
}

footer>section:nth-of-type(2) div:nth-of-type(1)
{
    text-align: center;
    margin-right: 600px;
    margin-top: 20px;
    
 }

 footer>section:nth-of-type(2) img:nth-of-type(1)
 {
    width: 500px;
    height: 250px;
   
}
body>section:last-of-type h2
{
text-align: center;
}
body>section:last-of-type h2::before
{
    content: "\2191";
    padding-right: 10px;
}
body>section a{
    text-decoration: none;
    color: #000;
}
    